:root {
    --el-color-primary: #0180cd;
    --el-button--primary: #0180cd;
    // --el-button-background-color: #0180cd;
}
.el-button--primary {
    --el-button-background-color: #0180cd;
    --el-button-border-color: #0180cd;
}