/**
 * iconfont 样式
 */
.iconSinoi {
  font-family: "iconSinoi" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "iconSinoi"; /* Project id 2895814 */
  src: url('./fonts/iconfont.woff2?t=1635471298241') format('woff2'),
       url('./fonts/iconfont.woff?t=1635471298241') format('woff'),
       url('./fonts/iconfont.ttf?t=1635471298241') format('truetype');
}

.font-shezhi:before {
  content: "\e8b8";
}

.font-tixing:before {
  content: "\e600";
}

.font-yinlian:before {
  content: "\e614";
}

.font-toggle:before {
  content: "\e65a";
}

.font-logo:before {
  content: "\e60f";
}

.font-font01:before {
  content: "\e66d";
}

.font-font06:before {
  content: "\e66e";
}

.font-font05:before {
  content: "\e66f";
}

.font-app:before {
  content: "\e670";
}

.font-font07:before {
  content: "\e671";
}

.font-font04:before {
  content: "\e672";
}

.font-font18:before {
  content: "\e673";
}

.font-font08:before {
  content: "\e674";
}

.font-font15:before {
  content: "\e675";
}

.font-font13:before {
  content: "\e676";
}

.font-font02:before {
  content: "\e677";
}

.font-font14:before {
  content: "\e679";
}

.font-font19:before {
  content: "\e67a";
}

.font-font21:before {
  content: "\e67b";
}

.font-font09:before {
  content: "\e67d";
}

.font-font25:before {
  content: "\e67e";
}

.font-font27:before {
  content: "\e67f";
}

.font-font16:before {
  content: "\e680";
}

.font-font26:before {
  content: "\e681";
}

.font-font11:before {
  content: "\e682";
}

.font-font17:before {
  content: "\e683";
}

.font-font33:before {
  content: "\e684";
}

.font-font31:before {
  content: "\e687";
}

.font-font34:before {
  content: "\e688";
}

.font-font30:before {
  content: "\e689";
}

.font-font28:before {
  content: "\e68c";
}

.font-font12:before {
  content: "\e68d";
}

.font-font24:before {
  content: "\e68e";
}

.font-seo:before {
  content: "\e60b";
}

.font-ai:before {
  content: "\e68f";
}

.font-soukebao:before {
  content: "\e691";
}